 @keyframes spamcolor {
	 0% {
		 background: red;
	}
	 50% {
		 background: yellow;
	}
	 100% {
		 background: red;
	}
}
 @-webkit-keyframes spamcolor {
	 0% {
		 background: red;
	}
	 50% {
		 background: yellow;
	}
	 100% {
		 background: red;
	}
}
 @keyframes smallcircle {
	 0% {
		 -webkit-transform: scale(0);
		 -moz-transform: scale(0);
		 transform: scale(0);
	}
	 100% {
		 -webkit-transform: scale(1);
		 -moz-transform: scale(1);
		 transform: scale(1);
	}
}
 @keyframes bigcircle {
	 0% {
		 -webkit-transform: scale(0);
		 -moz-transform: scale(0);
		 transform: scale(0);
	}
	 50% {
		 -webkit-transform: scale(0);
		 -moz-transform: scale(0);
		 transform: scale(0);
	}
	 100% {
		 -webkit-transform: scale(1);
		 -moz-transform: scale(1);
		 transform: scale(1);
	}
}
 @keyframes infinite-rotation {
	 from {
		 -webkit-transform: rotate(0deg);
		 -moz-transform: rotate(0deg);
		 transform: rotate(0deg);
	}
	 to {
		 -webkit-transform: rotate(360deg);
		 -moz-transform: rotate(360deg);
		 transform: rotate(360deg);
	}
}




@-webkit-keyframes fall {
	0% {
		opacity: 0.9;
		top: 0
	}
	100% {
		opacity: 0.2;
		top: 100%
	}
}

@keyframes fall {
	0% {
		opacity: 0.9;
		top: 0
	}
	100% {
		opacity: 0.2;
		top: 100%
	}
}

@-webkit-keyframes blow-soft-left {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: -50%
	}
}

@keyframes blow-soft-left {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: -50%
	}
}

@-webkit-keyframes blow-medium-left {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: -100%
	}
}

@keyframes blow-medium-left {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: -100%
	}
}

@-webkit-keyframes blow-soft-right {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: 50%
	}
}

@keyframes blow-soft-right {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: 50%
	}
}

@-webkit-keyframes blow-medium-right {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: 100%
	}
}

@keyframes blow-medium-right {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: 100%
	}
}

@-webkit-keyframes sway-0 {
	0% {
		-webkit-transform: rotate(-5deg)
	}
	40% {
		-webkit-transform: rotate(28deg)
	}
	100% {
		-webkit-transform: rotate(3deg)
	}
}



@keyframes sway-0 {
	0% {
		-ms-transform: rotate(-5deg);
		transform: rotate(-5deg)
	}
	40% {
		-ms-transform: rotate(28deg);
		transform: rotate(28deg)
	}
	100% {
		-ms-transform: rotate(3deg);
		transform: rotate(3deg)
	}
}

@-webkit-keyframes sway-1 {
	0% {
		-webkit-transform: rotate(10deg)
	}
	40% {
		-webkit-transform: rotate(43deg)
	}
	100% {
		-webkit-transform: rotate(15deg)
	}
}

@keyframes sway-1 {
	0% {
		-ms-transform: rotate(10deg);
		transform: rotate(10deg)
	}
	40% {
		-ms-transform: rotate(43deg);
		transform: rotate(43deg)
	}
	100% {
		-ms-transform: rotate(15deg);
		transform: rotate(15deg)
	}
}

@-webkit-keyframes sway-2 {
	0% {
		-webkit-transform: rotate(15deg)
	}
	40% {
		-webkit-transform: rotate(56deg)
	}
	100% {
		-webkit-transform: rotate(22deg)
	}
}

@keyframes sway-2 {
	0% {
		-ms-transform: rotate(15deg);
		transform: rotate(15deg)
	}
	40% {
		-ms-transform: rotate(56deg);
		transform: rotate(56deg)
	}
	100% {
		-ms-transform: rotate(22deg);
		transform: rotate(22deg)
	}
}

@-webkit-keyframes sway-3 {
	0% {
		-webkit-transform: rotate(25deg)
	}
	40% {
		-webkit-transform: rotate(74deg)
	}
	100% {
		-webkit-transform: rotate(37deg)
	}
}

@keyframes sway-3 {
	0% {
		-ms-transform: rotate(25deg);
		transform: rotate(25deg)
	}
	40% {
		-ms-transform: rotate(74deg);
		transform: rotate(74deg)
	}
	100% {
		-ms-transform: rotate(37deg);
		transform: rotate(37deg)
	}
}

@-webkit-keyframes sway-4 {
	0% {
		-webkit-transform: rotate(40deg)
	}
	40% {
		-webkit-transform: rotate(68deg)
	}
	100% {
		-webkit-transform: rotate(25deg)
	}
}

@keyframes sway-4 {
	0% {
		-ms-transform: rotate(40deg);
		transform: rotate(40deg)
	}
	40% {
		-ms-transform: rotate(68deg);
		transform: rotate(68deg)
	}
	100% {
		-ms-transform: rotate(25deg);
		transform: rotate(25deg)
	}
}

@-webkit-keyframes sway-5 {
	0% {
		-webkit-transform: rotate(50deg)
	}
	40% {
		-webkit-transform: rotate(78deg)
	}
	100% {
		-webkit-transform: rotate(40deg)
	}
}

@keyframes sway-5 {
	0% {
		-ms-transform: rotate(50deg);
		transform: rotate(50deg)
	}
	40% {
		-ms-transform: rotate(78deg);
		transform: rotate(78deg)
	}
	100% {
		-ms-transform: rotate(40deg);
		transform: rotate(40deg)
	}
}

@-webkit-keyframes sway-6 {
	0% {
		-webkit-transform: rotate(65deg)
	}
	40% {
		-webkit-transform: rotate(92deg)
	}
	100% {
		-webkit-transform: rotate(58deg)
	}
}

@keyframes sway-6 {
	0% {
		-ms-transform: rotate(65deg);
		transform: rotate(65deg)
	}
	40% {
		-ms-transform: rotate(92deg);
		transform: rotate(92deg)
	}
	100% {
		-ms-transform: rotate(58deg);
		transform: rotate(58deg)
	}
}

@-webkit-keyframes sway-7 {
	0% {
		-webkit-transform: rotate(72deg)
	}
	40% {
		-webkit-transform: rotate(118deg)
	}
	100% {
		-webkit-transform: rotate(68deg)
	}
}

@keyframes sway-7 {
	0% {
		-ms-transform: rotate(72deg);
		transform: rotate(72deg)
	}
	40% {
		-ms-transform: rotate(118deg);
		transform: rotate(118deg)
	}
	100% {
		-ms-transform: rotate(68deg);
		transform: rotate(68deg)
	}
}

@-webkit-keyframes sway-8 {
	0% {
		-webkit-transform: rotate(94deg)
	}
	40% {
		-webkit-transform: rotate(136deg)
	}
	100% {
		-webkit-transform: rotate(82deg)
	}
}

@keyframes sway-8 {
	0% {
		-ms-transform: rotate(94deg);
		transform: rotate(94deg)
	}
	40% {
		-ms-transform: rotate(136deg);
		transform: rotate(136deg)
	}
	100% {
		-ms-transform: rotate(82deg);
		transform: rotate(82deg)
	}
}

.sakura {
	/* background: -webkit-linear-gradient(120deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));*/
	background: red;
	pointer-events: none;
	position: absolute
}

.sakura {
	background:  #2A2C2F;
}


/*******************************/
html, body {
	font-family:'Montserrat', Arial, Helvetica, Sans-serif 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
	margin: 0; height: 100%;
	background: #feffe8;

  }

body.disable-scroll {
	overflow: hidden;
    overflow-y: hidden;
}

 body{
	overflow-x: hidden;

 } 

img {
	max-width: 100%;
	height: auto;
}



.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;	
    background-color: #7066e0;
    color: #fff;
    font-size: 1.2em;
}
.swal2-html-container {
    z-index: 2;
    justify-content: center;
    margin: 1em 1.6em 0.3em;
    padding: 0;
    overflow: auto;
    color: inherit;
    font-size: 1.4em !important;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
	position: relative;
}

  


@media (max-width:900px) {
	img {
		max-width: 30%;
	}
}

.top-right-decoration {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
}

.top-left-decoration {
	position: absolute;
	top: 0;
	left: 0;
	width: 500px;
	height: auto;
	display: block;
	
}

.title-opening{

	font-family: 'Great Vibes' !important;
	font-weight: bold;
	font-style: normal;
	font-size: 50px !important;
	margin: 32px 0;
	color: #597177 !important;
	margin-bottom: 5px !important;
	margin-top: 10px !important;
}
.title-opening1 {

	font-family: 'Dancing Script', cursive;
	font-style: normal;
	font-size: 20px;
	margin: 32px 0;
	color: #597177
}

.title h1 {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-style: normal;
	font-size: 60px;
	margin: 32px 0;
	color: #674ea7;
}

.title h2 {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-style: normal;
	margin: 0;
	padding: 0;
	font-size: 24px;
	color: #e25c67;
	line-height: 1;
}

.dance-med {
	font-family: 'Dancing Script', cursive;
	font-weight: bolder;
	font-style: normal;
	font-size: 32px;
	color: #674ea7;
	margin: 16px;
	text-align: center;
}

.title h3 {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 24px;
	color: #674ea7;
	margin-top: 5px;
}

.title p {
	color: #597177;
	margin: 30px 0 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 25px;
	font-family: 'Dancing Script', cursive;
}

.wrap {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	/* padding: 20px; */
	text-align: center;
	/* min-height:100%; */
}


/** **/

* {
	/* margin: 0;
    padding: 0; */
	font-family: 'Arvo', serif;
}

html, body {
	background-color:#feffe8;
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100vh;
    width: 100%; */
	flex-direction: column;

}

.title {
	margin-bottom: 40px;
}

#time {
	width: 50%;
	height: auto;
	padding: 10px;
	background-color: #597177;
	border-radius: 15px;
	font-size: 16px;
}

.venue {
	margin-left: 50px;
	width: auto;
	height: auto;
	text-align: center;
	color: #fff;
	padding: 8px;
	
}

.venue a {
	text-decoration: none;
	color: #fff;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-radius: 10px;
	overflow: hidden;
}

.block {
	width: 180px;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
}

.prewed-vertical{
	max-width: 100%;
	height: auto;
	position: relative;
	top: -35px;
}

.waves-after-opening{
	max-width: 100%;
	height: auto;
	margin-bottom: 100px;

}

.pengantin{
	font-family: 'Great Vibes';
	font-weight: bold;
	font-style: normal;
	font-size: 25px
	
}

.calon-pengantin{
	max-width: 70%;
	height: auto;
	position: relative;
	top: -20px;
}

.watermark{
	z-index: 2;
	font-size: 1.7rem !important;
	font-weight: 900;
	margin-top: 0px !important;
	margin-bottom: 10px !important;
	font-family: "roboto-light" !important;
	text-transform: lowercase !important;
	letter-spacing: 3px !important;
	color: #424547 !important;

}

.momen-berharga{
	font-family: 'Great Vibes' !important;
	font-weight: bold;
	font-style: normal;
	font-size: 50px !important;
	margin: 32px 0;
	color: #597177 !important;
	margin-bottom: 5px !important;
	margin-top: 100px !important;
}

.Diselenggarakan{
		font-family: 'Great Vibes' !important;
		font-weight: bold;
		font-style: normal;
		font-size: 50px !important;
		margin: 32px 0;
		color: #597177 !important;
		margin-bottom: 5px !important;

}

.anak-dari{
	z-index: 2;
	font-size: 1.7rem !important;
	font-weight: 900;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	font-family: "roboto-light" !important;
	text-transform: lowercase !important;
	color: #424547 !important;
	letter-spacing: 1px !important;
}

.anak-dari-jean{
	z-index: 2;
	font-size: 2rem !important;
	font-weight: 400;
	margin-top: 0px !important;
	font-family: "roboto-light" !important;
	text-transform: lowercase !important;
	color: #5f6260 !important;
	letter-spacing: 1px !important;
	margin-bottom: 0px !important;
}

.kenangan{
	z-index: 2;
	font-size: 1.7rem !important;
	font-weight: 400;
	margin-top: 0px !important;
	font-family: "roboto-light" !important;
	text-transform: lowercase !important;
	color: #5f6260 !important;
	letter-spacing: 1px !important;
	margin-bottom: 0px !important;
	padding-left: 36px;
	padding-right: 36px;
	text-align: center !important;
}

.pemisah{
	font-family: 'Great Vibes' !important;
	font-weight: bold;
	font-style: normal;
	font-size: 50px !important;
	margin: 32px 0;
	color: #597177 !important;
	margin-bottom: 5px !important;
	margin-top: 0px !important;
	margin-bottom: 20px !important;

}

.days {
	background: #ffaec0;
}

.hours {
	background: #E4DCCF;
	height: auto;
}

.minutes {
	background-color: #FFB7C5;

}

.seconds {
	background-color: #E4DCCF;
	height: auto;
}

.date {
	color: #874562;
	font-weight: 900;
}

.place {
	color: #874562;
	font-weight: 900;
}

.footer {
	color: #564861;
	text-align: center;
	font-size: 16px;
	margin: 24px;
}

.phone {
	color: #874562
}

.end-msg {
	width: auto;
	height: auto;
	padding: 12px;
	background: linear-gradient(90deg, #b33a46, #9b313c);
	border-radius: 20px;
	font-size: 14px;
	color: #fff;
	font-size: 24px;
}

a {
	text-decoration: none;
}

.happiness {
	color: #874562;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 24px;
}

.twitter {
	color: #874562;
}

.music {
	display: none;
}

.actions {
	display: flex;
	font-size: 12px;
	letter-spacing: 0pt;

}



.fotoprewed{
	margin-top: 10%;
	width: 100%;
	height: 100%;
	background-image: cover !important;
	
	
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .form-group {
	margin-bottom: 15px;
}

.row{
	
	margin-left: 35px;
	margin-top: 3%;
	width: 80%;
	height: auto;
	padding: 10px;
	background-color: #eee;
	border-radius: 20px;


}

.venue:hover{
	color: #ffaec0;


}

@import url('https://fonts.googleapis.com/css?family=Montserrat');


 section {
	 opacity: 1;
	 height: 100%;
	 width: 100%;
}
 .active section {
	 opacity: 1;
	 transition: opacity 0.5s;
}
 .btn-cta {
	 border: 5px solid;
	 border-radius: 0;

}


 .btn-cta__green {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		border: none;
		color: #597177;
		cursor: pointer;
		display: inline-block;
		font-family: Arial;
		font-size: 20px;
		padding: 5px 10px;
		text-align: center;
		text-decoration: none;
		-webkit-animation: glowing 1500ms infinite;
		-moz-animation: glowing 1500ms infinite;
		-o-animation: glowing 1500ms infinite;
		animation: glowing 1500ms infinite;
	  }
	  @-webkit-keyframes glowing {
		0% { background-color: #F5EDDC; -webkit-box-shadow: 0 0 3px #F5EDDC; }
		50% { background-color: #DA7F8F; -webkit-box-shadow: 0 0 40px #DA7F8F; }
		100% { background-color: #F5EDDC; -webkit-box-shadow: 0 0 3px #F5EDDC; }
	  }
	  
	  @-moz-keyframes glowing {
		0% { background-color: #F5EDDC; -moz-box-shadow: 0 0 3px #F5EDDC; }
		50% { background-color: #DA7F8F; -moz-box-shadow: 0 0 40px #DA7F8F; }
		100% { background-color: #F5EDDC; -moz-box-shadow: 0 0 3px #F5EDDC; }
	  }
	  
	  @-o-keyframes glowing {
		0% { background-color: #F5EDDC; box-shadow: 0 0 3px #F5EDDC; }
		50% { background-color: #DA7F8F; box-shadow: 0 0 40px #DA7F8F; }
		100% { background-color: #F5EDDC; box-shadow: 0 0 3px #F5EDDC; }
	  }
	  
	  @keyframes glowing {
		0% { background-color: #F5EDDC; box-shadow: 0 0 3px #F5EDDC; }
		50% { background-color: #DA7F8F; box-shadow: 0 0 40px #DA7F8F; }
		100% { background-color: #F5EDDC; box-shadow: 0 0 3px #F5EDDC; }
	  }

 .btn-cta__gray {
	 border: #ccc;
	 background-color: transparent;
	 color: #ccc;
}
 .slide-wrapper {
	 position: relative;
	 overflow: hidden;
	 height: 90%;
	 width: 90%;
	 top: 5%;
	 bottom: 5%;
	 left: 5%;
	 right: 5%;
	 z-index: 3;
}
 h1, h2, h3, h4, h5, h6 {
	 color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
 .cover-wrapper {
	 display: table;
	 width: 100%;
	 height: 100%;
	 min-height: 100%;
}
 .cover-wrapper__inner {
	 display: table-cell;
	 vertical-align: middle;
}
 .cover-wrapper__container {
	 margin-right: auto;
	 margin-left: auto;
}
 section#nav {
	 height: 50px;
}


 #home .slide-wrapper {
	 background-color: #feffe9;
}
 #home-content {
	 z-index: 5;

}

 #portfolio {
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 z-index: 1;
	 bottom: -100%;
	 background: #ccccb8;
}
 #aboutme {
	 background: #e9e9e9;
}

 .circle {
	 border-radius: 190px;
	 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 opacity: 0;
}

 .spammer-container {
	 display: none;
	 position: fixed;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
}
 .spammer-container .spammer__content {
	 position: inherit;
	 width: 100%;
	 height: 100%;
	 display: block;
	 animation: spamcolor 0.1s infinite;
	 -webkit-animation: spamcolor 0.1s infinite;
}
 .smallcircles {
	 position: absolute;
	 z-index: -2;
	 width: 100%;
	 height: 100%;
	 animation: infinite-rotation 150s infinite;
}
 .small-circle {
	 position: inherit;
	 display: block;
	 width: 150px;
	 height: 150px;
	 margin-top: -125px;
	 margin-left: -125px;
	 border-radius: 125px;
	 -webkit-animation: smallcircle 0.8s ease-in-out alternate;
	 -moz-animation: smallcircle 0.8s ease-in-out alternate;
	 animation: smallcircle 0.8s ease-in-out alternate;
}
 .small-circle:nth-child(1) {
	 top: 12%;
	 left: 24%;
}
 .small-circle:nth-child(2) {
	 display: block;
	 top: 18%;
	 left: 44%;
}
 .small-circle:nth-child(3) {
	 display: block;
	 top: 78%;
	 left: 5%;
}
 .small-circle:nth-child(4) {
	 display: block;
	 top: 78%;
	 left: 56%;
}
 .small-circle:nth-child(4) {
	 display: block;
	 top: 78%;
	 left: 56%;
}
 .small-circle:nth-child(5) {
	 display: block;
	 top: 38%;
	 left: 86%;
}
 .small-circle:nth-child(6) {
	 display: block;
	 top: 86%;
	 left: 96%;
}
 .big-circles {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 animation: infinite-rotation 125s infinite;
}
 .big-circle {
	 position: inherit;
	 display: block;
	 width: 300px;
	 height: 300px;

	 margin-top: -250px;
	 margin-left: -250px;
	 border-radius: 250px;
	 -webkit-animation: bigcircle 1.6s ease-in-out alternate;
	 -moz-animation: bigcircle 1.6s ease-in-out alternatee;
	 animation: bigcircle 1.6s ease-in-out alternate;
}
 .big-circle:nth-child(1) {
	 top: 12%;
	 left: 4%;
}
 .big-circle:nth-child(2) {
	 display: block;
	 top: 98%;
	 left: 84%;
}
 .big-circle:nth-child(3) {
	 display: block;
	 top: 78%;
	 left: 0%;
}
 .big-circle:nth-child(4) {
	 display: block;
	 top: 78%;
	 left: 56%;
}
 .big-circle:nth-child(4) {
	 display: block;
	 top: 78%;
	 left: 56%;
}
 .big-circle:nth-child(5) {
	 display: block;
	 top: 38%;
	 left: 86%;
}
 .big-circle:nth-child(6) {
	 display: block;
	 top: 86%;
	 left: 96%;
}


 @keyframes smallcircle {
	 0% {
		 -webkit-transform: scale(0);
		 -moz-transform: scale(0);
		 transform: scale(0);
	}
	 100% {
		 -webkit-transform: scale(1);
		 -moz-transform: scale(1);
		 transform: scale(1);
	}
}
 @keyframes bigcircle {
	 0% {
		 -webkit-transform: scale(0);
		 -moz-transform: scale(0);
		 transform: scale(0);
	}
	 50% {
		 -webkit-transform: scale(0);
		 -moz-transform: scale(0);
		 transform: scale(0);
	}
	 100% {
		 -webkit-transform: scale(1);
		 -moz-transform: scale(1);
		 transform: scale(1);
	}
}
 @keyframes infinite-rotation {
	 from {
		 -webkit-transform: rotate(0deg);
		 -moz-transform: rotate(0deg);
		 transform: rotate(0deg);
	}
	 to {
		 -webkit-transform: rotate(360deg);
		 -moz-transform: rotate(360deg);
		 transform: rotate(360deg);
	}
}

html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: space-around;
}

body,
.example h1,
.example p,
.example .button {
  transition: all .2s ease-in-out;
}


body.light-theme {
  background-color: #151515;
}

body.light-theme .example h1 {
  color: #597177;
}

body.light-theme .example p {
  color: #597177;
}

body.light-theme .buttons .button {
  color: #597177;
  border-color: #597177;
}

body.light-theme .buttons .button:hover {
  color: #FFFFFF;
  background-color: #151515;
}

.example {
  font-family: 'Roboto', sans-serif;
  width: 550px;
  height: 378px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

.example .flipdown {
  margin: auto;
}

.example h1 {
  text-align: center;
  font-weight: 100;
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 10px;
}

.example p {
  text-align: center;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 35px;
}

.example .buttons {
  width: 100%;
  height: 50px;
  margin: 50px auto 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.example .buttons p {
  height: 50px;
  line-height: 50px;
  font-weight: 400;
  padding: 0px 25px 0px 0px;
  color: #597177;
  margin: 0px;
}

.example .button {
  display: inline-block;
  height: 50px;
  box-sizing: border-box;
  line-height: 46px;
  text-decoration: none;
  color: #597177;
  padding: 0px 20px;
  border: solid 2px #597177;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all .2s ease-in-out;
}

.example .button:hover {
  background-color: #333;
  color: #FFF;
}

.example .button i {
  margin-right: 5px;
}

@media(max-width: 550px) {
  .example {
    width: 100%;
    height: 362px;
  }

  .example h1 {
    font-size: 2.5em;
  }

  .example p {
    margin-bottom: 25px;
	font-size: 18px;
  }

  .example .buttons {
    width: 100%;
    margin-top: 25px;
    text-align: center;
    display: block;
  }

  .example .buttons p,
  .example .buttons a {
    float: none;
    margin: 0 auto;
  }

  .example .buttons p {
    padding-right: 0px;
  }

  .example .buttons a {
    display: inline-block;
  }
}


html, body {
	height: 100%;
  }
	
  body{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Helvetica Neue;
}
  
  .main-example {
	  margin: 0 auto;
	  width: 355px;
	  text-align: center;
  }
  .main-example .countdown-container {
	  height: 130px;
  }
  .main-example .time {
	  border-radius: 5px;
	  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	  display: inline-block;
	  text-align: center;
	  position: relative;
	  height: 95px;
	  width: 65px;
  
	  -webkit-perspective: 479px;
	  -moz-perspective: 479px;
	  -ms-perspective: 479px;
	  -o-perspective: 479px;
	  perspective: 479px;
  
	  -webkit-backface-visibility: hidden;
	  -moz-backface-visibility: hidden;
	  -ms-backface-visibility: hidden;
	  -o-backface-visibility: hidden;
	  backface-visibility: hidden;
  
	  -webkit-transform: translateZ(0);
	  -moz-transform: translateZ(0);
	  -ms-transform: translateZ(0);
	  -o-transform: translateZ(0);
	  transform: translateZ(0);
  
	  -webkit-transform: translate3d(0,0,0);
	  -moz-transform: translate3d(0,0,0);
	  -ms-transform: translate3d(0,0,0);
	  -o-transform: translate3d(0,0,0);
	  transform: translate3d(0,0,0);
  }
  .main-example .count {
	  background: #597177;
	  color: #f8f8f8;
	  display: block;
	  font-family: 'Oswald', sans-serif;
	  font-size: 2em;
	  line-height: 2.4em;
	  overflow: hidden;
	  position: absolute;
	  text-align: center;
	  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	  top: 0;
	  width: 100%;
  
	  -webkit-transform: translateZ(0);
	  -moz-transform: translateZ(0);
	  -ms-transform: translateZ(0);
	  -o-transform: translateZ(0);
	  transform: translateZ(0);
  
	  -webkit-transform-style: flat;
	  -moz-transform-style: flat;
	  -ms-transform-style: flat;
	  -o-transform-style: flat;
	  transform-style: flat;
  }
  .main-example .count.top {
	  border-top: 1px solid rgba(255,255,255,0.2);
	  border-bottom: 1px solid rgba(255,255,255,0.1);
	  border-radius: 5px 5px 0 0;
	  height: 50%;
  
	  -webkit-transform-origin: 50% 100%;
	  -moz-transform-origin: 50% 100%;
	  -ms-transform-origin: 50% 100%;
	  -o-transform-origin: 50% 100%;
	  transform-origin: 50% 100%;
  }
  .main-example .count.bottom {
	  background-image: linear-gradient(rgba(255,255,255,0.1), transparent);
	  background-image: -webkit-linear-gradient(rgba(255,255,255,0.1), transparent);
	  background-image: -moz-linear-gradient(rgba(255,255,255,0.1), transparent);
	  background-image: -ms-linear-gradient(rgba(255,255,255,0.1), transparent);
	  background-image: -o-linear-gradient(rgba(255,255,255,0.1), transparent);
	  border-top: 1px solid #000;
	  border-bottom: 1px solid #000;
	  border-radius: 0 0 5px 5px;
	  line-height: 0;
	  height: 50%;
	  top: 50%;
  
	  -webkit-transform-origin: 50% 0;
	  -moz-transform-origin: 50% 0;
	  -ms-transform-origin: 50% 0;
	  -o-transform-origin: 50% 0;
	  transform-origin: 50% 0;
  }

  .main-example .label {
	  font-size: normal;
	  margin-top: 5px;
	  display: block;
	  position: absolute;
	  top: 95px;
	  width: 100%;
  }
  /* Animation start */
  .main-example .count.curr.top {
	  -webkit-transform: rotateX(0deg);
	  -moz-transform: rotateX(0deg);
	  -ms-transform: rotateX(0deg);
	  -o-transform: rotateX(0deg);
	  transform: rotateX(0deg);
	  z-index: 3;
  }
  .main-example .count.next.bottom {
	  -webkit-transform: rotateX(90deg);
	  -moz-transform: rotateX(90deg);
	  -ms-transform: rotateX(90deg);
	  -o-transform: rotateX(90deg);
	  transform: rotateX(90deg);
	  z-index: 2;
  }
  /* Animation end */
  .main-example .flip .count.curr.top {
	  -webkit-transition: all 250ms ease-in-out;
	  -moz-transition: all 250ms ease-in-out;
	  -ms-transition: all 250ms ease-in-out;
	  -o-transition: all 250ms ease-in-out;
	  transition: all 250ms ease-in-out;
  
	  -webkit-transform: rotateX(-90deg);
	  -moz-transform: rotateX(-90deg);
	  -ms-transform: rotateX(-90deg);
	  -o-transform: rotateX(-90deg);
	  transform: rotateX(-90deg);
  }
  .main-example .flip .count.next.bottom {
	  -webkit-transition: all 250ms ease-in-out 250ms;
	  -moz-transition: all 250ms ease-in-out 250ms;
	  -ms-transition: all 250ms ease-in-out 250ms;
	  -o-transition: all 250ms ease-in-out 250ms;
	  transition: all 250ms ease-in-out 250ms;
  
	  -webkit-transform: rotateX(0deg);
	  -moz-transform: rotateX(0deg);
	  -ms-transform: rotateX(0deg);
	  -o-transform: rotateX(0deg);
	  transform: rotateX(0deg);
  }
  
  .main-example {
	  width: 100%;
  }
  .main-example .countdown-container {
	  height: 100px;
  }
  .main-example .time {
	  height: 70px;
	  width: 48px;
  }
  .main-example .count {
	  font-size: 1.5em;
	  line-height: 70px;
  }
  .main-example .label {
	  font-size: 0.8em;
	  top: 72px;
	  color: #597177 !important;
  }

.cover-wrapper__inner{
	background-image: url(https://i.ibb.co/BNVc9TH/backgroundwedding.png);
}


@import url("https://fonts.googleapis.com/css?family=Roboto");
@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}



.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}
.floating-container:hover {
  height: 300px;
}
.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px rgba(24, 29, 31, 0.6);
  -webkit-transform: translatey(5px);
          transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
          animation: come-in 0.4s forwards 0.2s;
}
.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
          animation: come-in 0.4s forwards 0.4s;
}
.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
          animation: come-in 0.4s forwards 0.6s;
}
.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: #597177;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(23, 41, 49, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px auto;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.floating-container .float-element .material-icons {
  vertical-align: middle;
  font-size: 16px;
}
.floating-container .float-element:nth-child(1) {
  background: #597177;
  box-shadow: 0 20px 20px -10px rgba(24, 29, 31, 0.6);
}
.floating-container .float-element:nth-child(2) {
  background: #597177;
  box-shadow: 0 20px 20px -10px rgba(24, 29, 31, 0.6);
}
.floating-container .float-element:nth-child(3) {
  background: #597177;
  box-shadow: 0 20px 20px -10px rgba(24, 29, 31, 0.6);
}








