<!DOCTYPE html>
<html lang="en">
<head>
  <title>opening</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://pbutcher.uk/flipdown/css/flipdown/flipdown.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Dancing+Script&amp;display=swap'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  
   <script src="https://kit.fontawesome.com/55800dabd3.js" crossorigin="anonymous"></script>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
   <link rel="stylesheet" href="./css/style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
<body>
<!-- Sandbox jamet-->


<section id="home">
   <div class="slide-wrapper">

       
       <div class="cover-wrapper text-center" id="home-content">
              <div class="sakura-falling"></div>
           <div class="cover-wrapper__inner">
               <div class="cover-wrapper__container">
                <div class="floating-container">
                  <div class="floating-button" ><img src="https://i.ibb.co/WfyZBXx/give-money.png" onclick="amplopDigital();" alt=""></div>
                  <div class="element-container">
                  </div>
                </div>
                <div data-aos="zoom-in-down" data-aos-duration="1000">
                   <h1 class="title-opening1">UNDANGAN PERNIKAHAN</h1>
                  </div>
                  <div data-aos="fade-right" data-aos-duration="1500">
                   <h1 class="title-opening">Lumine</h1>
                  </div>
                  <div data-aos="zoom-in-down" data-aos-duration="2200">
                   <h1 class="title-opening">&</h1>
                  </div>
                   <div data-aos="fade-left" data-aos-duration="1500">
                   <h1 class="title-opening">Aether</h1>
                  </div>
                  <div data-aos="fade-up" data-aos-duration="2000">
                   <h1 class="title-opening1">29 November 2022</h1>
                  </div>
                   <button type="submit" class="btn btn-outline-dark btn-cta__green text-uppercase trigger" type="button" onclick="myFunction();"  data-toggle="closed"> BUKA UNDANGAN </button>
               </div>
           </div>
       </div>
   </div>
   <section class="portfolio-wrapper" id="portfolio">
       <div class="cover-wrapper text-center" id="home">
           <div class="cover-wrapper__inner">
               <div class="cover-wrapper__container">



      <!-- Index Utama Undangan -xana -->
      
      <section id="media"></section>
      <div class="wrap">
         <div class="title">
            <img class="prewed-vertical" src="assets/img/prewed-vertical.png" alt="">
            
            <div data-aos="zoom-in-down" data-aos-duration="500">
            <p class="pengantin">Calon Pengantin</p>
          </div>
            <div data-aos="fade-up" data-aos-duration="1000">
            <img class="calon-pengantin" src="assets/img/twibbon-wedding-woman.png" alt="">


         <div data-aos="fade-right" data-aos-duration="1250">
         <p class="watermark"><i class="fa-brands fa-instagram fa-3xs"></i>xanaqwerty</p> 
         <h1 class="title-opening">Lumine Yūki Aoi</h1>
         <p class="anak-dari">Putri Pertama dari</p>
         <p class="anak-dari-jean">Dr Jean mondstadt.Pd & 
          <br> 
          diluc mondstadt.Pd
        </p> 
        </div>
      </div>

      <div data-aos="zoom-in-down" data-aos-duration="1700">
      <h1 class="pemisah">&</h1>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000">
      <img class="calon-pengantin" src="assets/img/twibbon-wedding-man.jpg" alt="">
      </div>
      <div data-aos="fade-left" data-aos-duration="1250">
        <p class="watermark"><i class="fa-brands fa-instagram fa-3xs"></i>xanaqwerty</p> 
        <h1 class="title-opening">Aether Sorata</h1>
        <p class="anak-dari">Putri Pertama dari</p>
        <p class="anak-dari-jean">Dr Migguang liyue.Pd & 
         <br> 
         Zhongli morax.Pd
       </p> 
      </div>

      <div data-aos="zoom-in-down" data-aos-duration="1700">
      <h1 class="momen-berharga">Momen Berharga</h1>
      </div>
      <div data-aos="fade-up" data-aos-duration="2000">
      <p class="kenangan">"Menciptakan kenangan adalah hadiah yang tak ternilai. 
        Kenangan bertahan seumur hidup; hal-hal berlangsung dalam waktu singkat."
      </p> 
      </div>

      <div data-aos="fade-up" data-aos-duration="2000">
      <div class="fotoprewed">
        <div class="mx-auto d-block">
           <div id="myCarousel" class="carousel slide" data-ride="carousel">
             <!-- Indicators -xana -->
             <ol class="carousel-indicators">
               <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
               <li data-target="#myCarousel" data-slide-to="1"></li>
               <li data-target="#myCarousel" data-slide-to="2"></li>
             </ol>
         
             <!-- Wrapper for slides -xana -->
             <div class="carousel-inner">
         
               <div class="item active">
                 <img src="https://i.ibb.co/0jPqRvf/prewed-ourwedding3-1.png" alt="Los Angeles" style="width:100%;">
                 <div class="carousel-caption">
                   <h3>Lumine & Aether</h3>
                   <p>We will always be together</p>
                 </div>
               </div>
         
               <div class="item">
                 <img src="https://i.ibb.co/BgS7Dqc/prewed-ourwedding2-1.png" alt="Chicago" style="width:100%;">
                 <div class="carousel-caption">
                   <h3>Lumine & Aether</h3>
                   <p>Thank you, for everything</p>
                 </div>
               </div>
             
               <div class="item">
                 <img src="https://i.ibb.co/GnMpXKt/prewed-ourwedding.png" alt="New York" style="width:100%;">
                 <div class="carousel-caption">
                   <h3>Lumine & Aether</h3>
                   <p>A love that will never end</p>
                 </div>
               </div>
               <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
             </div>
         
             <!-- Left and right controls -xana -->

           </div>
         </div>
         </div>
        </div>

        <div data-aos="zoom-in-down" data-aos-duration="1700">
        <div class="example">
          <h1 class="Diselenggarakan">Acara Akan Diselenggarakan</h1>
          <div class="main-example">
            <div class="countdown-container" data-timer="2030/09/05" id="main-example"></div>
            </div>
            <script type="text/template" id="main-example-template">
            <div class="time <%= label %>">
              <span class="count curr top"><%= curr %></span>
              <span class="count next top"><%= next %></span>
              <span class="count next bottom"><%= next %></span>
              <span class="count curr bottom"><%= curr %></span>
              <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
            </div>
            </script>
          <div class="buttons">
            <p>29 November 2022</p>
            <a href="https://calendar.google.com/calendar/u/0/r/eventedit?text=Acara+Pernikahan+Lumine+dan+Aether&ctz=Asia/Jakarta&dates=20221129T080000/20221129T080000%7D&details=Acara+Pernikahan+Lumine+dan+Aether&location=Jalan+Jati+VI+Sungai+Bambu+1+No+15,+Tanjung+Priok,+Jakarta+Utarat&sprop&sprop=name:&pli=1" target="_blank" class="button"><i class="fa-solid fa-calendar"></i> <span>Simpan acara ke kalender</span></a>
          </div>
        </div>
      </div>


      <p class="dance-med"></p>
      <div id="get-waves0">
      </div>
      <section id="get-waves1">
      <div class="actions">
        <a href="https://www.google.com/maps/place/Oke+Store+007/@-6.1301846,106.8856403,17z/data=!3m1!4b1!4m5!3m4!1s0x2e6a1f82e049dfc5:0xaf01b5847697809c!8m2!3d-6.1301944!4d106.8877271" target="_blank">
          <div class="venue"></div>
        </a>
        <a href="" download="Invitation | 23 Nov | Hope to see you there!">
          <div class="venue"></div>
        </a>
      </div>


        <div class="row" data-aos="fade-in">
              <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJxd9J4IIfai4RnICXdoS1Aa8&key=AIzaSyD9UkiW6BTGiP7WfHomRLmgYDMWy3HIKpU" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>
        </div> 
      <p class="footer">
         Can't wait to celebrate auspicious moment of our family with you! <br>
         Just a ping away for any queries: 085695347830
         <span></span>
      </p>
      <div class="music">
        <audio src="./assets/mp3/song.mp3" id="my_audio" loop="loop"></audio> 
      </div>
      <p class="happiness">Join us in our happiness!<br><a href="https://mobile.twitter.com/xanaqwert" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></p>
      
      <!-- Js,jquery -xana -->
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
      <script src='https://cdn.jsdelivr.net/gh/timoschaefer/jQuery-Sakura/jquery-sakura.min.js'></script>
      <script>AOS.init();</script>
      <script src="https://pbutcher.uk/flipdown/js/flipdown/flipdown.js"></script>
      <script  src="./js/script.js"></script>
</body>
</html>